$color1: #c8dae6;
$color2: white;
$color3: #323232;
$color4: #ffcd41;
$color5: #2092a9;

@keyframes rain {
  from {
    box-shadow:
      $color5 8px 0px,
      $color5 32px -6px,
      $color5 20px 0px;
  }

  to {
    box-shadow:
      $color5 8px 6px,
      $color5 32px 0px,
      $color5 20px 6px;
  }
}

@keyframes light {
  from {
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 10px;
  }

  to {
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 17px;
  }
}

@keyframes clima-icon-move {
  50% {
    transform: translateY(-8px);
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.05);
  }

  75% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes title-appear {
  from {
    opacity: 0;
    transform: translateX(150px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.block.climaBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.clima-wrapper {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  max-width: 500px;
  max-height: 500px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  .clima-card {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: 20px 5px;
    animation: appear 500ms ease-out forwards;
    background-color: lighten($color1, 10%);
    box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);

    .temperature {
      position: absolute;
      bottom: 6rem;
      left: 1rem;
      animation: title-appear 500ms ease-out 500ms forwards;
      color: $color3;
      font-size: 80px;
      font-weight: 300;
      opacity: 0;
      transform: translateX(150px);
    }

    p {
      position: absolute;
      left: 1rem;
      color: lighten($color3, 10%);

      &.local {
        bottom: 1.2rem;
        animation: title-appear 1s ease-out 500ms forwards;
        font-size: 28px;
        font-weight: 600;
      }

      &.evento {
        bottom: 1rem;
        animation: title-appear 1.5s ease-out 600ms forwards;
        font-size: 20px;
        font-weight: 300;
      }
    }
  }

  .clima-icon {
    position: relative;
    top: 0;
    width: 50px;
    height: 50px;
    margin: 40px 40px 0 0;
    animation: clima-icon-move 5s ease-in-out infinite;
    float: right;
  }

  .sun {
    border-radius: 50%;
    animation:
      light 800ms ease-in-out infinite alternate,
      clima-icon-move 5s ease-in-out infinite;
    background: $color4;
    box-shadow: rgba(255, 255, 0, 0.1) 0 0 0 4px;
  }

  .cloud {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    margin-right: 60px;
    background: darken($color1, 5%);
    box-shadow:
      darken($color1, 5%) 24px -6px 0 2px,
      darken($color1, 5%) 10px 5px 0 5px,
      darken($color1, 5%) 30px 5px 0 2px,
      darken($color1, 5%) 11px -8px 0 -3px,
      darken($color1, 5%) 25px 11px 0 -1px;

    &:after {
      position: absolute;
      top: 31px;
      left: 0;
      width: 4px;
      height: 12px;
      border-radius: 10px;

      animation: rain 800ms ease-in-out infinite alternate;
      background-color: transparent;
      content: '';
      transform: rotate(30deg);
    }
  }
}
